article {
    height:330px;
    width: 250px;
    overflow: hidden;
    background-color: gray;
    border: double 5px black;
}
a{
    text-decoration:none;
}
.desc{
    padding: 5px;
    text-decoration:none;
    color: white;
}

.cover_projet {
    height: 33%;
    width: 100%;
    object-fit: cover;
}